<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  header{
    height: 30px;
    background-color: antiquewhite;
  }
  aside{
    width: 20%;
    height: 100vh;
    background-color: azure;
  }
  main{
    float: right;

  }
  footer{
    position: fixed;
    width: 30px;
  }
</style>
</head>
<body>
  <header></header>
  <aside></aside>
  <footer></footer>
</body>
</html>