<form ngForm #form="ngForm" (ngSubmit)="handleFormData(form)">
    <div class="form-row">
      <div class="form-group col-md-6">
            <label for="id">TodoId</label>
            <input type="number"
             class="form-control"
             ngModel
             required 
              name="id"
              id="id"
              placeholder="Todo Id">
      </div>
    </div>
    <!-- <div class="alert alert-danger" *ngIf="todoid.errors && todoid.touched">
        <span *ngIf="todoid.errors.required">Name field is invalid</span>

    </div> -->
    <div class="form-row">
        <div class="form-group col-md-6">
              <label for="name">TodoName</label>
              <input type="text"
               class="form-control" 
                ngModel
                required
                minlength="4"
                maxlength="12"
                #name="ngModel"
                name="name"
                id="name"
                placeholder="Todo name">
        </div>
      </div>
      <!-- <div class="alert alert-danger" *ngIf="todo.errors && todo.touched">
          <span *ngIf="todo.errors.required">Name field is invalid</span>
          <span *ngIf="todo.errors.minlength">Name field should have {{todo.errors.minlength.requiredLength}} letters</span>
  
      </div> -->

    <!-- <div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" 
        required
        ngModel
        #email="ngModel"
        class="form-control"
        name="email" 
        id="email"
        placeholder="Email">
      </div>
      <div class="alert alert-danger" *ngIf="email.errors && email.touched">
        <span *ngIf="email.errors.required">Email field is required</span>
      </div>
    </div> -->
    <button type="submit" class="btn btn-primary"
    [disabled]="form.invalid"
    >Add </button>
</form>